/* join.css */

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
