/* login.css */
 body {
     font-family: 'Segoe UI', sans-serif;
     background-color: #f5f5f5;
     margin: 0;
     padding: 0;
 }

.container {
    max-width: 420px;
    width: 90%;
    margin: 60px auto;
    padding: 40px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    align-items: center; /* 가로 가운데 */
    gap: 10px; /* 버튼 사이 여백 */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 12px 0 6px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.social-buttons {
    margin-top: 20px;
    text-align: center;
}

.social-buttons a {
    display: inline-block;
    margin: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    min-width: 200px;
    max-width: 240px;
    text-align: center;
}

.google__btn {
    background-color: #db4437;
    color: white;
}

.naver__btn {
    background-color: #03C75A;
    color: white;
}

.kakao__btn {
    background-color: #FEE500;
    color: #3c1e1e;
    font-weight: bold;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
}