<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user-layout}">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>관리자 설정 페이지</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/main.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>회원 관리</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <h6 class="mb-10">회원 목록 보기</h6>
                    <p class="text-sm mb-20">
                        시스템에 등록된 전체 사용자 리스트를 확인하고 관리할 수 있습니다.
                    </p>
                    <div class="table-wrapper table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th><h6>ID</h6></th>
                                <th><h6>Email</h6></th>
                                <th><h6>전화번호</h6></th>
                                <th><h6>권한</h6></th>
                                <th><h6>삭제</h6></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td class="min-width">
                                    <p th:text="${user.id}"></p>
                                </td>
                                <td class="min-width">
                                    <p th:text="${user.email}"></p>
                                </td>
                                <td class="min-width">
                                    <p th:text="${user.phoneNum}"></p>
                                </td>
                                <td class="min-width">
                                    <span class="status-btn"
                                          th:classappend="${user.role.name() == 'ADMIN'} ? 'close-btn' : 'success-btn'"
                                          th:text="${user.role.title}">
                                    </span>
                                </td>
                                <td>
                                    <div class="action">
                                        <form th:action="@{/admin/delete/{id}(id=${user.id})}" method="post"
                                              onsubmit="return confirm('정말 삭제하시겠습니까?');">
                                            <button class="text-danger" style="background: none; border: none;">
                                                <i class="lni lni-trash-can"></i> 삭제
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>