<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="eventModal">
    <!-- 일정 추가 모달창 -->
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">일정 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <form id="eventForm">
                        <div class="mb-3">
                            <label for="eventTitle" class="form-label">제목</label>
                            <input type="text" class="form-control" id="eventTitle" placeholder="일정 제목을 입력하세요" required>
                        </div>
                        <div class="form-check form-switch mb-3">
                            <input class="form-check-input" type="checkbox" id="eventAllDay">
                            <label class="form-check-label" for="eventAllDay">종일 일정</label>
                        </div>
                        <div class="mb-3">
                            <label for="eventStart" class="form-label">시작일</label>
                            <input type="date" class="form-control" id="eventStart" required>
                        </div>
                        <!-- 종일 일정시 입력 칸 비활성화 -->
                        <div class="mb-3" id="endDateGroup">
                            <label for="eventEnd" class="form-label">종료일</label>
                            <input type="date" class="form-control" id="eventEnd">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveEventBtn">저장</button>
                    <!-- 수정일때만 삭제버튼 활성화 -->
                    <button type="button" class="btn btn-danger d-none" id="deleteEventInEditBtn">삭제</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>