<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user-layout}">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>공지사항</h2>
                    </div>
                </div>
                <!-- 관리자에게만 글쓰기 보임
                <div class="col-md-6" sec:authorize="hasRole('ADMIN')">
                    <div class="text-end mb-30">
                        <a th:href="@{/notice/write}" class="main-btn primary-btn btn-hover">
                            <i class="lni lni-plus mr-5"></i> 글쓰기
                        </a>
                    </div>
                </div>
                -->
                <div class="text-end mb-30">
                    <a th:href="@{/notice/write}" class="main-btn primary-btn btn-hover">
                        <i class="lni lni-plus mr-5"></i> 글쓰기
                    </a>
                </div>
            </div>
        </div>

        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">전체 공지 내역</h6>
                        <div th:fragment="noticeFragment">
                            <div class="table-wrapper table-responsive">
                                <table class="table">
                                    <colgroup>
                                        <col style="width: 10%;"> <col style="width: auto;"> <col style="width: 15%;"> <col style="width: 20%;"> <col style="width: 10%;"> </colgroup>

                                    <thead>
                                    <tr>
                                        <th class="lead-info min-width"><h6 class="text-sm text-medium">번호</h6></th>
                                        <th class="lead-email min-width"><h6 class="text-sm text-medium">제목</h6></th>
                                        <th class="lead-phone min-width"><h6 class="text-sm text-medium">작성자</h6></th>
                                        <th class="lead-company min-width"><h6 class="text-sm text-medium">작성일</h6></th>
                                        <th class="min-width"><h6 class="text-sm text-medium">조회수</h6></th>
                                    </tr>
                                    </thead>
                                    <!-- end thead-->
                                    <tbody>
                                    <tr th:each="notice : ${notices}">
                                        <td class="min-width"><p th:text="${notice.id}">1</p></td>
                                        <td class="min-width">
                                            <a th:href="@{/notice/{id}(id=${notice.id})}"
                                               th:text="${notice.title}" class="text-dark fw-bold">제목</a>
                                        </td>
                                        <td class="min-width"><p th:text="${notice.author.name}">관리자</p></td>
                                        <td class="min-width"><p th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd')}">
                                            2026-04-20</p></td>
                                        <td class="min-width"><p th:text="${notice.viewCount}">0</p></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end noticeFragment-->
        </div>
    </div>
</div>
</th:block>
</body>
</html>