<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Css-->
    <link rel="stylesheet" th:href="@{/css/account/common.css}">
    <link rel="stylesheet" th:href="@{/css/account/join.css}">
    <title>Hi-E 회원가입</title>
</head>
<body>
<div class="container">
    <h1>Hi-E 회원가입</h1>
    <form th:action="@{/account/join}" method="post">
        <!-- 이름 입력 -->
        <label for="name">이름</label>
        <input type="text" id="name" name="name" placeholder="이름을 입력하세요"/>

        <!-- 생년원일 입력 -->
        <!--
        <label for="birthday">생년원일</label>
        <input type="date" id="birthday" name="birthday"/>
        -->
        <label>생년월일</label>
        <div class="birth-group" style="display: flex; gap: 10px;">
            <select id="birth-year" name="birth-year">
                <option value="">연도</option>
            </select>

            <select id="birth-month" name="birth-month">
                <option value="">월</option>
            </select>

            <select id="birth-day" name="birth-day">
                <option value="">일</option>
            </select>
        </div>

        <input type="hidden" id="birthday" name="birthday">

        <!-- 성별 입력 -->
        <label>성별</label>
        <div class="radio-group">
            <label class="radio-item">
                <input type="radio" name="gender" value="MALE">
                남성
            </label>

            <label class="radio-item">
                <input type="radio" name="gender" value="FEMALE">
                여성
            </label>
        </div>

        <!-- 이메일 입력 -->
        <label for="email">이메일</label>
        <input type="email" id="email" name="email" placeholder="이메일을 입력하세요"/>

        <!-- 비밀번호 입력 -->
        <label for="password">비밀번호</label>
        <p class="pw-hint">※ 영어 대소문, 숫자, 특수문자 포함 8~16글자</p>
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요"/>
        <!-- 비밀번호 정규식 메세지 출력용 -->
        <div id="passwordRegex" style="font-size: 0.8em; margin-top: 5px;"></div>

        <label for="passwordcheck">비밀번호 재확인</label>
        <p class="pw-hint">비밀번호를 한 번 더 입력해주세요.</p>
        <input type="password" id="passwordcheck" name="passwordcheck" placeholder="비밀번호를 입력하세요"/>
        <!-- 비밀번호 재확인 검사 후 출력용 -->
        <div id="passwordMessage" style="font-size: 0.8em; margin-top: 5px;"></div>

        <!-- 전화번호 입력 -->
        <label for="phoneNum">전화번호</label>
        <input type="tel" id="phoneNum" name="phoneNum" placeholder="-없이 입력해주세요"/>

        <!-- 이미지 URL 입력 -->
        <label for="imageUrl">프로필 이미지 업로드</label>
        <input type="text" id="imageUrl" name="imageUrl" placeholder="이미지를 업로드 해주세요"/>

        <!-- 제출 버튼 -->
        <input type="submit" value="가입하기" />
    </form>
</div>
    <!-- JavaScript 파일 -->
    <script src="/js/validation.js"></script>
</body>
</html>
