<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인페이지</title>
</head>
<body>
    <input type="text" id="name" name="name" placeholder="이름을 입력하세요" required />
    <!-- 이메일 입력 -->
    <label for="email">이메일</label>
    <input type="email" id="email" name="email" placeholder="example@domain.com" required />

    <!-- 비밀번호 입력 -->
    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required />

    <!-- 전화번호 입력 -->
    <label for="phoneNum">전화번호</label>
    <input type="tel" id="phoneNum" name="phoneNum" placeholder="010-1234-5678" required />

    <!-- 이미지 URL 입력 -->
    <label for="imageUrl">프로필 이미지 URL</label>
    <input type="text" id="imageUrl" name="imageUrl" placeholder="http://image.url" />
</form>
</body>
</html>