<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hi-E 일정</title>
    <!-- BootStrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Fullcalendar Cdn -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.11/index.global.min.js"></script>
    <!-- BootStrap4버전 이상부터 viewport 태그 추가 필수 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/fullCalendar.css" type="text/css">

    <style>
    </style>
</head>
<body>
    <div th:fragment="calendarFragment">
        <div id="calendar" class="calendar-container"></div>
        <!-- <script th:inline="/js/calendar.js"></script> Thymleaf 사용-->
        <!-- <script src="/js/eventModal.js" defer></script>-->
        <!-- 일정관련 모달 영역 -->
        <script src="/js/calendar.js"></script>
        <div th:replace="~{modal/eventDetailModal :: eventDetail}"></div>
        <div th:replace="~{modal/eventModal :: eventModal}"></div>
    </div>
    <!-- BootStrap Javascript 태그 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
</body>
</html>