<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
</head>
<body>
    <h1>메인페이지</h1>
    <p th:text="${#authentication.name} + '님 로그인되었습니다.'"></p>
    <div sec:authorize="hasRole('USER')">일반 회원만 볼 수 있습니다.</div>
    <div sec:authorize="hasRole('ADMIN')">관리자만 볼 수 있습니다.</div>
    <h2 th:if="${username != null}" th:text="${username} + '님 로그인되었습니다.'"></h2>

    <!-- 로그인 테스트용 thymeleaf -->
    <div sec:authorize="isAuthenticated()">
        로그인 됨
    </div>
    <div sec:authorize="isAnonymous()">
        로그인 안됨
    </div>

    <a th:href="@{account/login}">로그인 하러가기</a>
</body>
</html>