<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hi-e</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/lineicons.css}">
</head>

<body>
<section class="signin-section">
    <div class="container-fluid">
        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10"><font dir="auto" style="vertical-align: inherit;"><font
                                    dir="auto" style="vertical-align: inherit;">Hi-E에 오신 것을 환영합니다</font></font></h1>
                            <p class="text-medium"><font dir="auto" style="vertical-align: inherit;"><font dir="auto"
                                                                                                           style="vertical-align: inherit;">
                                계속하려면 기존 계정으로 로그인하세요.
                            </font></font></p>
                        </div>
                        <div class="cover-image">
<!--                            <img th:src="@{/css/bootstrap/images/logo/main-logo.svg}" alt="매안 로고">-->
                        </div>
                        <div class="shape-image">
                            <img src="assets/images/auth/shape.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
                <div class="signin-wrapper">
                    <div class="form-wrapper">
                        <h6 class="mb-15"><font dir="auto" style="vertical-align: inherit;"><font dir="auto"
                                                                                                  style="vertical-align: inherit;">로그인
                            양식</font></font></h6>
                        <form th:action="@{/account/login-process}" th:method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label><font dir="auto" style="vertical-align: inherit;"><font dir="auto"
                                                                                                       style="vertical-align: inherit;">이메일</font></font></label>
                                        <input type="email" name="email" placeholder="이메일">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label><font dir="auto" style="vertical-align: inherit;"><font dir="auto"
                                                                                                       style="vertical-align: inherit;">비밀번호</font></font></label>
                                        <input type="password" name="password" placeholder="비밀번호">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-xxl-6 col-lg-12 col-md-6">
                                    <div class="form-check checkbox-style mb-30">
                                        <input class="form-check-input" type="checkbox" value="" id="checkbox-remember">
                                        <label class="form-check-label" for="checkbox-remember"><font dir="auto"
                                                                                                      style="vertical-align: inherit;"><font
                                                dir="auto" style="vertical-align: inherit;">
                                            이메일 기억하기</font></font></label>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-xxl-6 col-lg-12 col-md-6">
                                    <div class="text-start text-md-end text-lg-start text-xxl-end mb-30">
                                        <a th:href="@{account/find-password}" class="hover-underline"><font dir="auto"
                                                                                                    style="vertical-align: inherit;"><font
                                                dir="auto" style="vertical-align: inherit;">
                                            비밀번호를 잊으셨나요?
                                        </font></font></a>
                                    </div>
                                </div>
                                <!-- end col -->
                                <!-- 에러 메세지 사용자에게 출력 -->
                                <div th:if="${loginError}" class="mb-3">
                                    <p style="color: #d9534f; font-size: 0.9rem; font-weight: bold;">
                                        <i class="lni lni-warning mr-10"></i> <span th:text="${errorMessage}"></span>
                                    </p>
                                </div>
                                <!-- end errorMessage -->
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center"><font
                                                dir="auto" style="vertical-align: inherit;"><font dir="auto"
                                                                                                  style="vertical-align: inherit;">
                                            로그인
                                        </font></font></button>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </form>
                        <div class="singin-option pt-40">
                            <p class="text-sm text-medium text-center text-gray"><font dir="auto"
                                                                                       style="vertical-align: inherit;"><font
                                    dir="auto" style="vertical-align: inherit;">
                                간편 로그인
                            </font></font></p>
                            <div class="button-group pt-40 pb-40 d-flex justify-content-center flex-wrap">
                                <button class="main-btn primary-btn-outline m-2">
                                    <i class="lni lni-facebook-fill mr-10"></i><font dir="auto"
                                                                                     style="vertical-align: inherit;"><font
                                        dir="auto" style="vertical-align: inherit;">
                                    페이스북
                                </font></font></button>
                                <button class="main-btn danger-btn-outline m-2">
                                    <i class="lni lni-google mr-10"></i><font dir="auto"
                                                                              style="vertical-align: inherit;"><font
                                        dir="auto" style="vertical-align: inherit;">
                                    Google
                                </font></font></button>
                            </div>
                            <p class="text-sm text-medium text-dark text-center"><font dir="auto"
                                                                                       style="vertical-align: inherit;"><font
                                    dir="auto" style="vertical-align: inherit;">
                                아직 계정이 없으신가요?
                            </font></font><a th:href="@{/account/join}"><font dir="auto" style="vertical-align: inherit;"><font
                                    dir="auto" style="vertical-align: inherit;">계정을 만드세요</font></font></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    // 페이지 로드 시 실행
    window.onload = function() {
        // 주소창에 ?error가 포함되어 있다면
        if (window.location.search.includes('error')) {
            // 주소창에서 파라미터만 제거 (페이지 새로고침은 안 함)
            window.history.replaceState({}, document.title, window.location.pathname);
        }
    }
</script>
</body>
</html>